body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #ffffff;
}
header {
	/*The top bar of the website blue with all navigation*/
	/*Keepsthe header width: 90%;position: fixed;*/
    
	width: 100%;
	height: 5%;
	background-color: #2f88fce7;
	border-bottom: 1px solid #2c9ab7;
}
.logo {
	color: #fff;
	text-align: undefined;
	width: 15%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #ffffff;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #ffffff;
	text-decoration: none;
}
ul li:hover a {
	color: #3675c9;
}
.portfolio_header {
	color: black;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.portfolio {
	background-color: #98e2d7;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 20px;
}

.subheading {
	text-align: center;
	color: #ffffff;
	margin-top: 4px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 45%;
	text-align: justify;
	/*text-indent: 1%; Text indent */
	line-height: 25px;
	float: left;
	padding-left: 50px;
	padding-right: 20px;
	font-size: 20px;
	color: #858585;
	line-height: 1.6em;
}
.text {
	text-align: center;
	line-height: 25px;
	padding-left: 50px;
	padding-right: 20px;
	font-size: 20px;
	color: #858585;
	line-height: 1.6em;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #ffffff;
	margin-top: 0px;
}
.headers {
	color: black;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.button:hover {
	background-color: #fefefe;
	color: #c4c4c4;
	cursor: pointer;
}
.colorBack {
	background: #ffffff;
}
.footer {
	background-attachment: scroll;
	bottom: 0;
	width: 100%;
	background-color: #313534;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
	margin-bottom: 0%;
}
.footer_header {
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
